$primary-blue:#3F51B5;
$secondary-blue: #757de8;

.home {
  padding: 3rem;

  .wrapper {
    display: grid;
    grid-template-columns: repeat(4, minmax(160px, 1fr));
    margin: 0;
    gap: 4rem;
    padding: 0;
    @media (max-width: 1400px) {
      grid-template-columns: repeat(3, minmax(160px, 1fr));
      gap: 3rem;
    }

    @media (max-width: 1000px) {
      grid-template-columns: repeat(2, minmax(160px, 1fr));
      gap: 2rem;
    }

    @media (max-width: 700px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .card-list {
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
  }

  .card-container {
    height: 440px;
    width: 340px;
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    &:hover {
      .card-image {
        filter: contrast(100%);
      }
    }
  }

  .card-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25em;
    filter: contrast(75%);
    overflow: hidden;
    position: relative;
    transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  }

  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;
    text-align: center;
    width: 100%;
    gap: 0.5rem;
    padding: 1rem;
   
    .card-title {
      font-size: 1.1rem;
      line-height: 1.4rem;

      letter-spacing: 0.04rem;
      font-weight: 600;
      text-transform: uppercase;
    }

    .card-author {
      font-size: 0.9rem;
      font-weight: 400;
      line-height: 0.1rem;
    }
    .card-button:hover {
        color: $primary-blue;
    }
    .card-button {
      display: flex;
        justify-content: center;
        padding: 0.6rem 1rem 1rem 1rem;
      align-items: center;
      border-radius: 0.25rem;
      color: $secondary-blue;
      font-weight: 800;
        letter-spacing: 0.02rem;
   
      .arrow {
        font-size: 25px;
   
      }
    }

    .available,
    .unavailable {
        padding-bottom: 0.5rem;
      color: #a370f0;
      letter-spacing: 0.04rem;
      font-size: 0.7rem;
      font-weight: 500;
      border-bottom: 1px solid rgba(0, 0, 0, 0.106);
      width: 90%;
    }
    .available {
        color: rgba(128, 128, 128, 0.77);
    }
    .unavailable {
      color: rgba(128, 128, 128, 0.77);
    }
  }
}

//single featured book page css

.featured {
display: flex;
position: relative;
width: 100%;
gap: 3.5rem;
padding: 0 2rem;
justify-content: center;
align-items: center;


.col-right {
    width: 60%;
    padding-right: 2rem;
    .info-group {
        line-height: 0;
        h2 {
            line-height: 1;
        }
        h3 {
            text-transform: uppercase;
            font-weight: 500;
        }

    }
    p {
        padding: 1rem 0;
        max-width: 70ch;
    }
    
   
    button {
        border: none;
        border-radius: 0.25rem;
        padding: 1rem 1.8rem;
        letter-spacing: 0.04rem;
        font-weight: 600;
    }
}
.col-left {
    width: 40%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

        
    img {
        max-width: 380px;
        width: 100%;
    }



}
}

