.wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }

.shop-now {
    font-size: 1.1rem;
}


img {
    width: 250px;
}

p {
    font-size: 0.91rem;
}

h2 {
    font-size: 1.2rem;

}
h3 {
    font-size: 0.92rem;
    font-weight: 400;
}
