
form {
    display: flex;
    flex-direction: column;
    max-width: 35%;
    align-items: center;
    margin: 0 auto;
    
}
label {
    text-align: left;
}

label {
    width: 100%;
    padding: 0.2rem 0;
}
input {
    padding: 0.4rem;
    width: 90%
}
button {
    width: 100%
}