$primary-blue:#3F51B5;
$secondary-blue: #757de8;

.auth-container {
  width: 100%;
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;

  a {
    color: rgba(0, 0, 0, 0.489);
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 0.5rem;
    text-align: right;
    cursor: pointer;
    transition: color 0.3s;
    &:hover {
      color: #333333;
      font-weight: 500;
    }
  }

  .auth-title {
    font-size: 3.5rem;
    font-weight: 700;
    color:$secondary-blue;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
  }
  .auth-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    gap: 0.9rem;

    button {
      border: 2px solid $secondary-blue;
      background-color: $secondary-blue;
      border-radius: 0.25rem;
      height: 40px;
      margin-top: 1.9rem;
      color: white;
      font-size: 0.9rem;
      letter-spacing: 0.1rem;
      font-weight: 700;
      cursor: pointer;
      text-transform: uppercase;
    }
    button:hover {
      background-color: $primary-blue;
      border-color: $primary-blue;
    }

    label {
      width: 100%;
      color: $secondary-blue;
      font-size: 0.9rem;
      font-weight: 600;
    }
    input {
      margin-top: 0.8rem;
      background-color: transparent;
      width: 100%;
      height: 40px;
      border: 1px solid $secondary-blue;
      border-radius: 0.25rem;
      padding-left: 0.8rem;
      letter-spacing: 0.02rem;
      font-size: 0.8rem;

    }
    label:focus-visible {
      outline: none;
      border: 2px solid $primary-blue;

    }
    input:focus,
    input:focus-visible {
      outline: none;
      border: 2px solid $primary-blue;

    }

    .input-password-group {
      display: flex;
      align-items: center;
      width: 100%;

      .input-password {
        width: 90%;
        border-top: 1px solid $secondary-blue;
        border-left: 1px solid $secondary-blue;
        border-bottom: 1px solid $secondary-blue;
        border-radius: 0.25rem 0 0 0.25rem;
        border-right: none;
      }
      input:focus,
      input:focus-visible {
        outline: none;
        border-right: none;
        border-top: 2px solid $primary-blue;
        border-left: 2px solid $primary-blue;
        border-bottom: 2px solid $primary-blue;
        border-radius: 0.25rem 0 0 0.25rem;
        .password-show-hide {
          background-color: $primary-blue;
          border-color: $primary-blue;
        }
      }
      .password-show-hide:hover, .password-show-hide:active {
        background-color: $primary-blue;
        border-color: $primary-blue;
      }
      .password-show-hide {
        border: none;
        border-radius: 0 0.25rem 0.25rem 0;
        width: 15%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 13px;
        cursor: pointer;
        background-color: $secondary-blue;
      }
    }
  }
  .i {
    font-size: 15px;
    color: white;
  }
}
