
#root {
  max-width: 100vw;
  margin: 0 auto;
  text-align: center;
}

nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  min-height: 100px;
  width: 100%;
  padding: 0.5rem 1.2rem;
}


li {
  list-style: none;
  text-decoration: none;
}

.searchbar {
  flex-basis: 60%;
  max-width: 500px;
  overflow: hidden;

}
input {
  width: 80%;
}

menu {
  flex-basis: 30%;

}

header {
  width: 100%;
}
main {
  padding-top: 10rem;
  overflow: hidden;
  width: 100%;
  
}

.logo {
flex-basis: 10%;
max-width: 100px;
padding: 1rem;
}





