#root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100lvh;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  background-color: #fffefb;

}
header {
  position: fixed;
  grid-row: 1/2;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #fffefb;
  padding: 1rem 0;
  
  nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  img { width: 60px; padding-bottom: 0.65rem}
  }
}
main {
  padding-top: 10rem;
  overflow: hidden;
  width: 100%;
  padding: 1rem;
  grid-row-start: 2;
  justify-items: center;
  align-items: center;
}

.signin-button {
  margin-bottom: 1rem;
  background: #a370f0;
  color: #fffefb;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2rem;
  font-size: 14px;
  font-weight: 500;
  border-radius: 0.5rem;
  border: none;
  letter-spacing: 0.05rem;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6rem -0.6rem #714da6;
  overflow: hidden;
  position: relative;
  height: 2.8rem;
  padding-right: 3.3rem;
  cursor: pointer;
}

.signin-button .icon {
  background: #fffefb;
  margin-left: 1rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2rem;
  width: 2.2rem;
  border-radius: 0.4rem;
  box-shadow: 0.1rem 0.1rem 0.6rem 0.2rem #7b52b9;
  right: 0.3rem;
  transition: all 0.3s;
}

.signin-button:hover .icon {
  width: calc(100% - 0.6rem);
}

.signin-button .icon svg {
  width: 1.1rem;
  transition: transform 0.3s;
  color: #7b52b9;
}

.signin-button:hover .icon svg {
  transform: translateX(0.1rem);
}

.signin-button:active .icon {
  transform: scale(0.95);
}

li {
  list-style: none;
  text-decoration: none;
}

a {
  color: #714da6;
}





